python-telegram-bot[job-queue]>=20.0
python-dotenv>=1.0.0
Pillow>=10.0.0
gigachat
pytesseract>=0.3.10
requests>=2.31.0
huggingface_hub>=0.24.0

pymax

edge-tts>=6.1.0
google-api-python-client>=2.100.0
google-auth-oauthlib>=1.2.0